{% extends '@nglayouts/block/block.html.twig' %}

{% block content %}
    {% set field_identifier = block.parameter('field_identifier').value %}
    {% set field = block.dynamicParameter('field') %}

    {% block contentful_entry_field %}
        {% if field is not empty %}
            {% if field.type is constant('ENTRY', field.type) %}
                <div class="field field-{{ field.type.value }} field-{{ field_identifier }}">
                    {{ nglayouts_render_item(field.value, block.itemViewType) }}
                </div>
            {% elseif field.type is constant('ENTRIES', field.type) %}
                <div class="field field-{{ field.type.value }} field-{{ field_identifier }}">
                {% for entry in field.value %}
                    {{ nglayouts_render_item(entry, block.itemViewType) }}
                {% endfor %}
                </div>
            {% else %}
                {{ 'contentful.field_not_compatible'|trans({'%field_identifier%': field_identifier}, 'contentful') }}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
